#mais{
    width: 25.23vw;
    height: 30.57vw;
    margin: 0 auto;
    display: flex;
    margin-top: -40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid  #DBDBDB;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.info{
}
.links_{
    color: rgb(31, 30, 30);
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    text-decoration: none;
}